.my-list{
    
    margin: auto;
    background-color:#f7f381;
    Padding: 8px 24px;
    Width: 500px;
    font-size: 30px;
    Border: 1px solid #f7f381;
    box-shadow: 0 0 10px 2px #333333;  
        }
#date{
    text-align: center;
}
html{
    background-image:url(https://media.istockphoto.com/id/664975134/photo/sticky-note-post-it-board-office.jpg?b=1&s=612x612&w=0&k=20&c=JYQeU1aVslSjsrA7vyuoPfl2DZ3VrpxWmDOwsakDjy0=);
}